<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>nailsbitto</h1>
            <nav>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Estilos</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h2>veja sobre a importancia dos cuidados com a cutícula</h2>
            <p>Profissional com formação e muita atenção aos detalhes</p>
            <a href="#" class="cta-button">Saiba Mais</a>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <h2>Sobre Nós</h2>
            <p>Em um mundo onde a expressão pessoal se manifesta de diversas formas, desde roupas elegantes até acessórios exclusivos, as unhas têm se destacado como uma tela em branco pronta para receber a criatividade e o estilo únicos de cada indivíduo. Na cidade movimentada de Piracicaba, encontra-se um santuário para aqueles que buscam não apenas beleza, mas também inovação e habilidade artística: Nails by bitto</p>
        </div>
    </section>

    <section class="menu">
        <div class="container">
            <h2>Nossos Servisos</h2>
            <div class="menu-items">
                <div class="menu-item">
                    <h3>Manicure Básica:</h3>
                    <p>Corte e modelagem das unhas.
                       Remoção e cuidado das cutículas.
                       Aplicação de esmalte simples.</p>
                </div>
                <div class="menu-item">
                    <h3>Pedicure:</h3>
                    <p>Cuidado e limpeza das unhas dos pés.
                       Remoção de calosidades e pele morta.
                       Massagem relaxante nos pés.
                    </p>
                </div>
                <div class="menu-item">
                    <h3>Manicure e Pedicure Spa:</h3>
                    <p>Inclui tratamentos extras como esfoliação e hidratação.
                       Utilização de máscaras para mãos e pés.
                       Massagem terapêutica para relaxamento.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 NailsBitto. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>
